<section class="container-fluid bg-dark py-3 footer mt-5 px-5">
  <div class="row text-center text-md-start">
    <div class="git-in text-white col-lg-4 col-12">
      <p class="fw-bold">GET IN TOUCH</p>
      <div class="icon-text d-flex gap-2">
        <fa-icon [icon]="addressIcon"></fa-icon>
        <p>717-555-1234</p>
      </div>
      <div class="icon-text d-flex gap-2">
        <fa-icon [icon]="messageIcon"></fa-icon>
        <p>Sbishoy535@gmail.com</p>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-center align-items-center">
      <button class="btn btn-danger footer-btn d-none d-lg-block">
        Contact Me
      </button>
    </div>
    <div
      class="icons text-white col-md-4 col-12 d-flex flex-column align-items-end justify-content-center"
    >
      <div class="some d-flex gap-3">
        <fa-icon [icon]="linkedIcon"></fa-icon>
        <fa-icon [icon]="faceIcon"></fa-icon>
        <fa-icon [icon]="instIcon"></fa-icon>
      </div>
      <p>copy &copy; 2023 KR</p>
    </div>
  </div>
</section>
