section {
  background-image: url("../../assets/05ac732312f99cb44c9c899bf9a555bc.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .text-data {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 220px;
    left: 60px;
    font-size: 44px;
  }
}
