.shad-text {
  text-shadow: 0 0 4px black;
}

.text-box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-left: 50px;
  box-shadow: 0 0 10px black;
}
